.wrapper {
    display: flex;
    position: relative;

    .avatar {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .avatar.hide {
        display: none;
    }

    .input {
        flex: 1;
        background-color: rgba(22, 24, 35, 0.06);
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 0px 9px;
        font-size: 1.5rem;
        margin: 0 18px;
        caret-color: var(--primary-color);
        height: 40px;
        padding-right: 38px;

        &:focus {
            border: 1px solid rgba(22, 24, 35, 0.2);
        }
    }

    .emoji-container {
        position: absolute;
        right: 66px;
        top: 6px;
    }

    .btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--primary-color);
    }

    .btn.disabled {
        cursor: no-drop;
        color: rgba(22, 24, 35, 0.34);
    }
}
